body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #cc2b5e, #753a88);
    color: rgb(255, 255, 255);
}

/* MAIN GRID */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}

.card {
    background: linear-gradient(135deg, #3a1c71, #d76d77, #ffaf7b);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
}

.card:hover {
    background: #042372;
    transform: translateY(-3px);
}

/* COURSE PAGE */
#coursePage {
    display: none;
    padding: 20px;
}

#coursePage button {
    background: #753a88;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

#coursePage button:hover {
    background: #cc2b5e;
}

#meetingList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
}

.meeting {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.meeting[style*="cursor: pointer"]:hover {
    background: #eef3ff;
    transform: translateY(-2px);
}

/* MODAL */
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
}

#viewer {
    width: 80%;
    height: 80%;
    margin: 5% auto;
    display: block;
    background: white;
    border: none;
}

#modal span {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
}

#modal span:hover {
    color: #cc2b5e;
}